<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/plugins/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/plugins/jQueryUI/jquery-ui.min.css">
<link rel="stylesheet" href="/static/plugins/select2/select2.min.css">
<link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/static/plugins/jBox/jBox.css">
<link rel="stylesheet" href="/static/plugins/jBox/themes/TooltipDark.css">
<link rel="stylesheet" href="/static/plugins/bootstrap-sco/css/scojs.css">
<link rel="stylesheet" href="/static/plugins/jquery.validator/css/jquery.validator.css">
<link rel="stylesheet" href="/static/plugins/css/ionicons.min.css">
<link rel="stylesheet" href="/static/plugins/morris/morris.css">
<link rel="stylesheet" href="/static/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="/static/plugins/code-prettify/prettify.css">
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="/static/plugins/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/plugins/codemirror/theme/xq-light.css">
<link rel="stylesheet" href="/static/plugins/codemirror/ui-choose/ui-choose.css">