<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="/static/dist/img/1.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ .User.RealName }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="/static/dist/img/1.jpg" class="img-circle">
            <p> {{ .User.RealName }} </p>
        </li>
        <li class="user-footer">
            <div class="pull-right">
                <a href="{{urlfor "AuthController.Logout"}}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
